body {
  font-family: Tahoma;
  text-align: center;
}
span {
  font-weight: bold;
  color: gold;
}
.container {
  background: linear-gradient(to right, #ff0000, #ffe100e9);
  color: #fff;
  padding: 60px 20px;
}
.bg {
  background: linear-gradient(to left, #ff0000, #ffe100e9);
}
#text-putih {
  color: #fff;
}
.project-list {
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-list-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.project {
  flex: 1;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.rounded-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.rounded-button:hover {
  background-color: #45a049;
}
.container1 {
  background-color: #ffffff;
}
.background-div-ayam {
  background-image: url("Menu_files/111482.png");
  background-repeat: repeat;
  background-size: auto;
  border: 1px solid #333;
}
.background-div-burger {
  background-image: url("Menu_files/100323.png");
  background-repeat: repeat;
  background-size: auto;
  border: 1px solid #333;
}
.background-div-pm {
  background-image: url("Menu_files/133016.png");
  background-repeat: repeat;
  background-size: auto;
  border: 1px solid #333;
}
.background-div-snack {
  background-image: url("Menu_files/112003.png");
  background-repeat: repeat;
  background-size: auto;
  border: 1px solid #333;
}
.content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 800px) {
  body {
    background-color: #ff0000;
  }
}
.btn {
  padding: 10px 5px;
  font-size: 16px;
  background-color: darkgrey;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: gray;
}
.project-list img {
  width: 240px;
  height: 183.5px;
  object-fit: cover; /* gambar tetap proporsional */
  display: block;
  margin: 0 auto;
}
